@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans font-normal m-0 p-0 text-gray-700;
  -webkit-font-smoothing: antialiased;
}

/* Transform */

.translate-y--1\/2 {
  transform: translateY(-50%);
}

.translate-x--1\/2 {
  transform: translateX(-50%);
}

/* React Calendar */

.react-calendar {
  @apply border-transparent font-sans rounded !important;
}

.react-calendar__tile--active {
  @apply bg-blue-400 text-white !important;
}

.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__label:hover,
.react-calendar__tile:hover,
.react-calendar__navigation__arrow:focus,
.react-calendar__navigation__label:focus,
.react-calendar__tile:focus {
  @apply bg-gray-100 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply bg-blue-400 text-white !important;
}

.react-calendar__month-view__days__day--weekend {
  @apply text-red-600 !important;
}

.react-calendar__month-view__weekdays__weekday * {
  @apply normal-case text-sm no-underline !important;
}
